html{
  scroll-behavior: smooth;
  scroll-padding-top: 95px;
}
#wrapper{
  margin: 0;
  width: 100%;
  margin: auto;
  min-height: 100dvh;
}
body{
  margin: 0;
  padding: 0;
}
main{
  padding: min(5em, 8%);
  padding-top: 60px;
  background-color: #1a1818;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
main h1{
  font-size: clamp(1.6rem, calc(2vw + 1rem), 5rem);
}
main a{
  text-decoration: none;
  color: #1dd399;
}
main a:hover{
  color: #00b8d4;
}
.custom-navbar {
  background-color: #1dd399 !important;
  width: 100%;
  margin: auto;
  font-family: 'Space Grotesk', sans-serif;
}
.navbar-nav .nav-link{
  font-size: 1rem;
  color: #000000;
  border-radius: 18px;
  transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}
.navbar-nav .nav-link:hover{
  color: #ffffff;
  background-color: #17b885;
}
.navbar-nav .nav-link.active{
  background-color: #ffffff;
  font-weight: bold;
  border-radius: 18px;
}
.navbar-nav .nav-item{
  margin-right: 15px;
}
footer{
  background-color: #1dd399;
  width: 100%;
  margin: auto;
  height: auto;
}
footer p{
  padding: 12px;
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  margin-bottom: 0;
}
.grid-container{
  display: grid;
}
@media (max-width: 767px) {
.navbar-nav .nav-link {
  padding: 12px 20px;
  text-align: center;
}
.navbar-toggler {
  margin-bottom: 16px;
}
.sub-nav{
  display: none !important;
}
main{
  padding-top: 80px;
}
}
#project-wrapper, #contact-wrapper{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.project{
  display: block;
  box-sizing: border-box;
  padding: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 8px;
  width: clamp(250px, 80vw, 800px);
  height: auto;
}
.project img{
  display: block;
  width: clamp(228px, 30vw, 768px);
  max-width: 100%;
  margin: 1rem auto;
}
.project:hover{
  outline: 2px solid #1dd399;
}
.custom-btn{
  background-color: #1dd399 !important;
}
.custom-btn:hover{
  background-color: #17b885 !important;
  color: #ffffff !important;
}
.comments-container{
  flex: 0 0 100%;
  display: block;
  box-sizing: border-box;
  padding: 16px;
  color: #000000;
  max-width: clamp(180px, 60vw, 730px);
  margin: 0 auto;
  height: auto;
}
.comment{
  background: #ffffff;
  border: 1px solid #1dd399;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.comment h4{
  margin: 0;
  font-size: 1.2rem;
  color: #222;
}

.comment p{
  margin-top: 5px;
  color: #666;
  border-top: 1px dashed #666;
}
.project form{
  width: 100%;
}

.project .form-control{
  width: 100%;
}

.project .input-group-text{
  width: auto;
}
.skills-container{
  max-width: 600px;
}

.skill{
  margin-bottom: 1.3rem;
}
.progress-bar-container{
  margin-top: 0.8rem;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
  width: 100%;
}

.progress-bar{
  height: 100%;
  transition: width 0.5s ease-in-out;
}
.badge{
  background-color: #f39c12;
  color: #ffffff;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-size: 1rem;
  margin-left: 10px;
}
.admin-section-container{ 
  display: block;
  box-sizing: border-box;
  padding: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 8px;
  width: clamp(250px, 80vw, 800px);
  height: auto;
}
.admin-wrapper, .message-wrapper, .project-wrapper{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.custom-thead{
  background-color: #17b885;
}
.arrow-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: clamp(250px, 80vw, 800px);
}

.message-scroll{
  position: relative;
  display: flex;
  scroll-behavior: smooth;
  gap: 1rem;
  flex: 1;
  margin: 0 auto;
  width: clamp(250px, 80vw, 800px);
  background-color: #ffffff;
  border-radius: 8px;
}
.arrow{
  top: 120px;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 50%;
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  color: #1dd399;
}

.arrow:hover{
  color: #17b885;
}
.arrow.previous{
  left: 0.1rem;
}

.arrow.next{
  right: 0.1rem;
}
.message-container{
  flex: 0 0 100%;
  display: block;
  box-sizing: border-box;
  padding: 16px;
  color: #000000;
  max-width: clamp(180px, 60vw, 730px);
  margin: 0 auto;
  height: auto;
}
.custom-btn2{
  margin-bottom: 1rem;
  color: #000000 !important;
}
.custom-btn2:hover{
  color: #ffffff !important;
}
.edit-delete-container{
  padding-top: 2rem;
}
.custom-btn3{
  margin-top: 1rem;
  color: #000000 !important;
}
.custom-btn3:hover{
  color: #ffffff !important;
}
main.has-sub-nav {
  padding-top: 125px;
}
.sub-nav {
  position: fixed !important;
  top: 56px !important;
  left: 0 !important;
  z-index: 1031 !important;
  background-color: #17966e !important;
  width: 100% !important;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0 !important;
  padding: 2px !important;
  box-shadow: none !important;
}
.sub-nav .nav-link{
  font-size: 0.9rem;
  color: #f0f0f0;
  border-radius: 18px;
  transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}
#skiplink a {
  padding: 6px;
  position: absolute;
  top: 0;
  left:  0;
  background-color: #d1d1d1;
  color: #000000;
  text-decoration: none;
  border-bottom-right-radius: 8px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}
#skiplink a:focus {
  z-index: 10000;
}
.error{
  color: #ff0000;
}
.comments-scroll{
  position: relative;
  display: flex;
  scroll-behavior: smooth;
  gap: 1rem;
  flex: 1;
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
}
.admin-project{
  display: block;
  box-sizing: border-box;
  padding: 0px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 8px;
  width: clamp(250px, 80vw, 800px);
  height: auto;
}
.project-heading{
  padding: 16px;
  padding-bottom: 0;
}
.arrow2{
  top: 75px;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 50%;
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  color: #1dd399;
}

.arrow2:hover{
  color: #17b885;
}
.arrow2.left{
  left: 0.1rem;
}

.arrow2.right{
  right: 0.1rem;
}