#wrapper{
    margin: 0;
    width: 100%;
    margin: auto;
    height: 100dvh;
}
body{
    margin: 0;
    padding: 0;
}
main{
  padding: min(5em, 8%);
  padding-top: 80px;
  background-color: #1a1818;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
main h1{
  font-size: clamp(1.6rem, calc(2vw + 1rem), 5rem);
}
main a{
  text-decoration: none;
  color: #1dd399;
}
main a:hover{
  color: #00b8d4;
}
.custom-navbar {
  background-color: #1dd399 !important;
  width: 100%;
  margin: auto;
  font-family: 'Space Grotesk', sans-serif;
}
.navbar-nav .nav-link {
  font-size: 1rem;
  color: #000000;
  border-radius: 18px;
  transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}
.navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: #17b885;
}
.navbar-nav .nav-link.active {
  background-color: #ffffff;
  font-weight: bold;
  border-radius: 18px;
}
.navbar-nav .nav-item {
  margin-right: 15px;
}
footer{
  background-color: #1dd399;
  width: 100%;
  margin: auto;
}
footer p{
  padding: 12px;
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  margin-bottom: 0;
}
.grid-container{
  display: grid;
}
@media (max-width: 767px) {
  .navbar-nav .nav-link {
    padding: 12px 20px;
    text-align: center;
  }
  .navbar-toggler {
    margin-bottom: 16px;
}
}
#project-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
}
.project {
  flex: 1;
  box-sizing: border-box;
  padding: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 8px;
  min-width: 250px;
  max-width: 400px;
  height: 300px;
}
.project img{
  display: block;
  min-width: 118px;
  max-width: 268px;
  margin: 1rem auto;
}
.project:hover{
  scale: 1.05;
}
.formtext{
  color: #ffffff;
}
.custom-btn {
  background-color: #1dd399 !important;
  /* border-color: #ff6600 !important; */
}

.custom-btn:hover {
  background-color: #17b885 !important;
  /* border-color: #aa4400 !important; */
}