{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="An unexpected error occurred on the server. Please try again later or contact support if the problem persists.">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}Unexpected Error{% endblock %}
    
{% block main %}
    <div class="content-container">
        <h1 id="main-content" role="alert" aria-live="assertive">Unexpected Error</h1>
        <p aria-describedby="error-message">Apologies for the inconvenience, there has been an unexpected error.</p>
        <p id="error-message">The Administrator has been notified, please try again later.</p>
    </div>
{% endblock %}