{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block main %}
    <h1>About</h1>
    <p>
        After gaining valuable experience across several industries and roles, I
        decided to pursue a long-standing interest in technology. Early on, I had
        studied HTML and CSS shortly after finishing school, which sparked a
        curiosity in how websites were built. That curiosity stayed with me and {{ experience }}
        months ago I took the leap and enrolled in the UCD Professional Academy's
        Full Stack Software Development course.
      </p>
      
      <p>
        The course has allowed me to build a strong foundation in both front-end and
        back-end technologies. I’ve developed a wide range of practical projects,
        gaining hands-on experience with tools like JavaScript, Python, Flask, and
        more. Balancing study with other commitments has sharpened my time management
        skills, and I take pride in my ability to stay organized, meet tight
        deadlines, and deliver quality work consistently.
      </p>
      
      <p>
        Throughout my career, I’ve taken on leadership responsibilities and worked in
        fast-paced environments that demanded clear communication, initiative, and
        resilience. These experiences have helped shape how I approach challenges in
        development—whether it’s debugging a tricky issue, collaborating on a
        project, or ensuring a feature is both functional and user-friendly. I'm
        excited to keep learning, keep building, and continue growing as a developer.
      </p>
      
{% endblock %}