{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block main %}
<h1>Admin Page</h1>
        <div class="admin-wrapper">
            <h2>Projects Overview</h2>
            {% for project in projects %}
            <div class="project">
                <h2>{{ project.name }}</h2>
                <p>Number of Likes: {{ project.likes }}</p>
                <h3>Comments</h3>
                <div class="comments-container">
                  {% for comment in comments.get(project.id, []) %}
                      <div class="comment">
                          <h4>{{ comment.name }}</h4>
                          <p>{{ comment.message }}</p>
                      </div>
                      <form action="{{ url_for('routes.delete_comment_route') }}" method="post">
                        <input type="hidden" name="project_id" value="{{ project.id|string }}">
                        <input type="hidden" name="index" value="{{ loop.index0 }}">
                        <button type="submit" class="btn btn-danger custom-btn2">Delete</button>
                      </form>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
        </div>
        <div class="message-wrapper">
          <h2>Contact submissions</h2>
          <div class="arrow-container">
              <div class="message-scroll">
                <span class="arrow previous" tabindex="0" role="button" aria-label="Scroll left">&larr;</span>
                {% for message in messages %}
                <div class="message-container">
                  <h3>{{ message.name }}</h3>
                  <a href="mailto:{{ message.email }}">{{ message.email }}</a>
                  <h4>{{ message.subject }}</h4>
                  <p>{{ message.message }}</p>
                  <form action="{{ url_for('routes.delete_message_route') }}" method="post">
                    <input type="hidden" name="index" value="{{ loop.index0 }}">
                    <button type="submit" class="btn btn-danger custom-btn2">Delete</button>
                  </form>
                </div>
                {% endfor %}
                <span class="arrow next" tabindex="0" role="button" aria-label="Scroll right">&rarr;</span>
              </div>
            </div>
        </div>
        <div class="admin-wrapper">
          <h2>Edit Skills</h2>
          <div class="admin-section-container">
            <form method="POST" action="{{ url_for('routes.update_skills') }}">
              <table class="table table-bordered align-middle">
                <thead class="table-dark">
                  <tr>
                    <th>Skill</th>
                    <th>Level</th>
                  </tr>
                </thead>
                <tbody>
                  {% for skill, level in skills.items() %}
                  <tr>
                    <td>{{ skill }}</td>
                    <td>
                      <input type="number" name="{{ skill }}" value="{{ level }}" min="0" max="100" required>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <button type="submit" class="btn custom-btn">Save Changes</button>
            </form>
          </div>
        </div>
        <div class="admin-wrapper">
          <h2>Edit/Delete Projects</h2>
          <div class="admin-section-container">
            {% for project in projects %}
            <div class="edit-delete-container">
              <form method="POST" action="{{ url_for('routes.update_projects') }}">
                <input type="hidden" name="id" value="{{ project.id }}">
                <h3>{{ project.name }}</h3>
                <table class="table table-bordered align-right">
                  <thead class="table-dark">
                    <tr>
                      <th>Field</th>
                      <th>Data</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td>
                        <input class="form-control" style="width: 100%" type="text" name="name" value="{{ project.name }}" required>
                      </td>
                    </tr>
                    <tr>
                      <td>Link</td>
                      <td>
                        <input class="form-control" style="width: 100%" type="url" name="link" value="{{ project.link }}" required>
                      </td>
                    </tr>
                    <tr>
                      <td>Image</td>
                      <td>
                        <input class="form-control" style="width: 100%" type="text" name="image" value="{{ project.image }}" required>
                      </td>
                    </tr>
                    <tr>
                      <td>Description</td>
                      <td>
                        <input class="form-control" style="width: 100%;" type="text" name="description" value="{{ project.description }}" required>
                      </td>
                    </tr>
                    <tr>
                      <td>Tags</td>
                      <td>
                        <input class="form-control" style="width: 100%" type="text" name="tags" value="{{ project.tags }}" required>
                      </td>
                    </tr>
                  </tbody>
                </table>
                  <button type="submit" class="btn custom-btn">Save Changes</button>
              </form>
              <form method="POST" action="{{ url_for('routes.delete_projects', project_id=project.id) }}" onsubmit="return confirm('Are you sure you want to delete this project?');">
                <button class="btn btn-danger custom-btn3" type="submit">Delete Project</button>
              </form>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="admin-wrapper">
          <h3>Add New Project</h3>
          <div class="admin-section-container">
            <form method="POST" action="{{ url_for('routes.add_projects') }}">
              <table class="table table-bordered">
                <tr>
                  <td>Name</td>
                  <td>
                    <input class="form-control" name="name" required>
                  </td>
                </tr>
                <tr>
                  <td>Link</td>
                  <td>
                    <input class="form-control" name="link" type="url" required>
                  </td>
                </tr>
                <tr>
                  <td>Image</td>
                  <td>
                    <input class="form-control" name="image" required>
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input class="form-control" name="description" required>
                  </td>
                </tr>
                <tr>
                  <td>Tags</td>
                  <td>
                    <input class="form-control" name="tags" required>
                  </td>
                </tr>
              </table>
              <button class="btn custom-btn" type="submit">Add Project</button>
            </form>
          </div>
        </div>
        <div class="admin-wrapper">
          <h2>Force 500 error</h2>
          <div class="admin-section-container">
            <p>To test the error 500 page, click <a href="{{ url_for('routes.raise_500_error') }}">here.</a></p>
          </div>
        </div>
{% endblock %}