{% extends "base.html" %}

{% block main_class %}has-sub-nav{% endblock %}

{% block title %}Admin{% endblock %}

{% block extra_nav %}
<nav class="sub-nav navbar navbar-expand-md">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Admin navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('routes.admin') }}#projects" aria-label="Go to Projects section">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('routes.admin') }}#contact" aria-label="Go to Contact Submissions section">Contact Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('routes.admin') }}#edit-skills" aria-label="Go to Edit Skills section">Edit Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('routes.admin') }}#edit-delete" aria-label="Go to Edit/Delete Projects section">Edit/Delete Projects</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('routes.admin') }}#new-project" aria-label="Go to Add New Project section">New Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('routes.admin') }}#force-500" aria-label="Go to Force 500 error page">Force 500</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block main %}
<h1>Admin Page</h1>
  <section id="projects">
    <div class="admin-wrapper">
      <h2 id="projects-overview" aria-labelledby="projects-overview">Projects Overview</h2>
      {% for project in projects %}
        <div class="project">
          <h2>{{ project.name }}</h2>
          <p>Number of Likes: {{ project.likes }}</p>
          <h3 id="comments" aria-labelledby="comments">Comments</h3>
          <div class="comments-container">
            {% for comment in comments.get(project.id, []) %}
              <div class="comment">
                <h4>{{ comment.name }}</h4>
                <p>{{ comment.message }}</p>
              </div>
              <form action="{{ url_for('routes.delete_comment_route') }}" method="post">
                <input type="hidden" name="project_id" value="{{ project.id|string }}">
                <input type="hidden" name="index" value="{{ loop.index0 }}">
                  <button type="submit" class="btn btn-danger custom-btn2" aria-label="Delete Comment">Delete</button>
              </form>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  <section id="contact">
    <div class="message-wrapper">
      <h2>Contact submissions</h2>
      <div class="arrow-container">
        <div class="message-scroll">
          <span class="arrow previous" tabindex="0" role="button" aria-label="Scroll left">&larr;</span>
          {% for message in messages %}
            <div class="message-container">
              <h3>{{ message.name }}</h3>
              <a href="mailto:{{ message.email }}">{{ message.email }}</a>
              <h4>{{ message.subject }}</h4>
              <p>{{ message.message }}</p>
              <form action="{{ url_for('routes.delete_message_route') }}" method="post">
                <input type="hidden" name="index" value="{{ loop.index0 }}">
                <button type="submit" class="btn btn-danger custom-btn2">Delete</button>
              </form>
            </div>
          {% endfor %}
          <span class="arrow next" tabindex="0" role="button" aria-label="Scroll right">&rarr;</span>
        </div>
      </div>
    </div>
  </section>
  <section id="edit-skills">
    <div class="admin-wrapper">
      <h2 id="edit-skills-section" aria-labelledby="edit-skills-section">Edit Skills</h2>
      <div class="admin-section-container">
        <form method="POST" action="{{ url_for('routes.update_skills') }}">
          <table class="table table-bordered align-middle">
            <thead class="table-dark">
              <tr>
                <th>Skill</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody>
              {% for skill, level in skills.items() %}
                <tr>
                  <td>{{ skill }}</td>
                  <td>
                    <input type="number" name="{{ skill }}" value="{{ level }}" min="0" max="100" required>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <button type="submit" class="btn custom-btn" aria-label="Save changes to skills">Save Changes</button>
        </form>
      </div>
    </div>
    </section>
    <section id="edit-delete">
      <div class="admin-wrapper">
        <h2 id="edit-delete-section" aria-labelledby="edit-delete-section">Edit/Delete Projects</h2>
        <div class="admin-section-container">
          {% for project in projects %}
            <div class="edit-delete-container">
              <form method="POST" action="{{ url_for('routes.update_projects') }}">
                <input type="hidden" name="id" value="{{ project.id }}">
                <h3>{{ project.name }}</h3>
                <table class="table table-bordered align-right">
                  <thead class="table-dark">
                    <tr>
                      <th>Field</th>
                      <th>Data</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td>
                        <input class="form-control" style="width: 100%" type="text" name="name" value="{{ project.name }}" required>
                      </td>
                    </tr>
                    <tr>
                      <td>Link</td>
                      <td>
                        <input class="form-control" style="width: 100%" type="url" name="link" value="{{ project.link }}" required>
                      </td>
                    </tr>
                    <tr>
                      <td>Image</td>
                      <td>
                        <input class="form-control" style="width: 100%" type="text" name="image" value="{{ project.image }}" required>
                      </td>
                    </tr>
                    <tr>
                      <td>Description</td>
                      <td>
                        <input class="form-control" style="width: 100%;" type="text" name="description" value="{{ project.description }}" required>
                      </td>
                    </tr>
                    <tr>
                      <td>Tags</td>
                      <td>
                        <input class="form-control" style="width: 100%" type="text" name="tags" value="{{ project.tags }}" required>
                      </td>
                    </tr>
                  </tbody>
                </table>
                  <button type="submit" class="btn custom-btn" aria-label="Save changes to project details">Save Changes</button>
              </form>
              <form method="POST" action="{{ url_for('routes.delete_projects', project_id=project.id) }}" onsubmit="return confirm('Are you sure you want to delete this project?');">
                <button class="btn btn-danger custom-btn3" type="submit" aria-label="Delete Project">Delete Project</button>
              </form>
            </div>
          {% endfor %}
        </div>
      </div>
  </section>
  <section id="new-project">
        <div class="admin-wrapper">
          <h3 id="new-project-section" aria-labelledby="new-project-section">Add New Project</h3>
          <div class="admin-section-container">
            <form method="POST" action="{{ url_for('routes.add_projects') }}">
              <table class="table table-bordered">
                <tr>
                  <td>Name</td>
                  <td>
                    <input class="form-control" name="name" required>
                  </td>
                </tr>
                <tr>
                  <td>Link</td>
                  <td>
                    <input class="form-control" name="link" type="url" required>
                  </td>
                </tr>
                <tr>
                  <td>Image</td>
                  <td>
                    <input class="form-control" name="image" required>
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>
                    <input class="form-control" name="description" required>
                  </td>
                </tr>
                <tr>
                  <td>Tags</td>
                  <td>
                    <input class="form-control" name="tags" required>
                  </td>
                </tr>
              </table>
              <button class="btn custom-btn" type="submit" aria-label="Add new project">Add Project</button>
            </form>
          </div>
        </div>
  </section>
  <section id="force-500">
    <div class="admin-wrapper">
      <h2 id="force-500-section" aria-labelledby="force-500-section">Force 500 error</h2>
      <div class="admin-section-container">
        <p>To test the error 500 page, click <a href="{{ url_for('routes.raise_500_error') }}">here.</a></p>
      </div>
    </div>
  </section>
{% endblock %}