{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block main %}
<h1>Admin Page</h1>
        <div class="admin-wrapper">
            <h2>Projects Overview</h2>
            {% for project in projects %}
            <div class="project">
                <h2>{{ project.name }}</h2>
                <p>Number of Likes: {{ project.likes }}</p>
                <h3>Comments</h3>
                <div class="comments-container">
                  {% for comment in comments.get(project.id, []) %}
                      <div class="comment">
                          <h4>{{ comment.name }}</h4>
                          <p>{{ comment.message }}</p>
                      </div>
                      <form action="{{ url_for('routes.delete_comment_route') }}" method="post">
                        <input type="hidden" name="project_id" value="{{ project.id|string }}">
                        <input type="hidden" name="index" value="{{ loop.index0 }}">
                        <button type="submit" class="btn custom-btn">Delete</button>
                      </form>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
        </div>
        <div class="admin-wrapper">
          <h2>Contact submissions</h2>
            {% for message in messages %}
            <div class="admin-section-container">
              <p>{{ message.name }}</p>
              <p>{{ message.email }}</p>
              <p>{{ message.subject }}</p>
              <p>{{ message.message }}</p>
              <form action="{{ url_for('routes.delete_message_route') }}" method="post">
                <input type="hidden" name="index" value="{{ loop.index0 }}">
                <button type="submit" class="btn custom-btn">Delete</button>
              </form>
            </div>
            {% endfor %}
        </div>
        <div class="admin-wrapper">
          <h2>Edit Skills</h2>
          <div class="admin-section-container">
            <form method="POST" action="{{ url_for('routes.update_skills') }}">
              <table class="table table-bordered align-middle">
                <thead class="table-dark">
                  <tr>
                    <th>Skill</th>
                    <th>Level</th>
                  </tr>
                </thead>
                <tbody>
                  {% for skill, level in skills.items() %}
                  <tr>
                    <td>{{ skill }}</td>
                    <td>
                      <input type="number" name="{{ skill }}" value="{{ level }}" min="0" max="100" required>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <button type="submit" class="btn custom-btn">Save Changes</button>
            </form>
          </div>
        </div>
        <div class="admin-wrapper">
          <h2>Force 500 error</h2>
          <div class="admin-section-container">
            <p>To test the error 500 page, click <a href="{{ url_for('routes.raise_500_error') }}">here.</a></p>
          </div>
        </div>
{% endblock %}