{% extends "base.html" %}

{% block meta %} 
    <meta name="description" content="Get in touch via the contact form to discuss opportunities, 
    collaborations, or project inquiries. I welcome messages from clients, colleagues, and fellow developers.">
{% endblock %}

{% block title %}Contact{% endblock %}

{% block main %}
    <section id="main-content" role="main" aria-label="Contact form to get in touch with the developer">
        <h3>If you'd like to get in touch, please use the contact form below—I look forward to hearing from you.</h3>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <form class="contact-form" method="POST" action="{{ url_for('routes.submit_contact') }}">
                        <h2 class="text-center mb-4" id="contact-form-heading" aria-labelledby="contact-form-heading">Contact Me</h2>
                        <div class="mb-3">
                            <label for="name" class="form-label" aria-label="Name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" required  minlength="2" maxlength="30" aria-describedby="name-help">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label" aria-label="Email address">Email address</label>
                            <input type="email" class="form-control" name="email" id="email" required maxlength="50" aria-describedby="email-help">
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label" aria-label="Subject">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required minlength="3" maxlength="50" aria-describedby="subject-help">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label" aria-label="Message">Message</label>
                            <textarea class="form-control" name="message" id="message" rows="5" required minlength="10" maxlength="1000"  aria-describedby="message-help"></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-lg custom-btn" aria-label="Send message">Send Message</button>
                        </div>
                        {% if success %}
                        <p class="success" role="alert" aria-live="polite">Your message has been sent. Thank you!</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_script %}
<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock %}