{% extends "base.html" %}

{% block meta %} 
        <meta name="description" content="A professional web developer portfolio showcasing interactive projects with 
        like and comment functionality, a contact form, and dynamic skill progress indicators. Built using HTML, CSS, and JavaScript.">
{% endblock %}

{% block title %}Home{% endblock %}

{% block main %}
        <h1 id="greeting-heading" aria-labelledby="greeting-heading">{{ greeting }}, welcome!</h1>
        <p id="main-content" tabindex="0">Building the web, front to back!</p>
     {% endblock %}