{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}
      <h1 id="login-heading" aria-labelledby="login-heading">Login</h1>

      {% if error %}
        <p role="alert" aria-live="assertive">{{ error }}</p>
      {% endif %}
      <form method="POST" aria-labelledby="login-heading">
        <input type="text" name="username" placeholder="Username" required autofocus aria-label="Username">
        <input type="password" name="password" placeholder="Password" required aria-label="Password">
        <button type="submit" class="btn custom-btn" aria-label="Login">Login</button>
      </form>
{% endblock %}